---
layout: archive
---

{{ content }}

{% assign articles = site.articles %}

{% if paginator %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

<h2>Recent Posts</h2>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
    {% endfor %}
</div>

<br>

<h2>Recent Articles</h2>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
    {% for article in articles %}
    {% include archive-single-article.html type=entries_layout %}
    {% endfor %}
</div>

<h2>Maven Repository</h2>

<p>This website also hosts my <b>Maven repository</b> that contains artifacts for my Fabric Java and Kotlin libraries.
<br><br>To include it, add the following into your build script (<i>build.gradle</i>):
</p>

{% highlight groovy %}
repositories {
    maven {
        url = "https://kanpov.github.io/maven/"
    }
}
{% endhighlight %}
